[Desktop Entry]
Exec=banshee --redirect-log --device-activate=%u
NoDisplay=true
MimeType=x-content/audio-player;
Version=1.0
Name=Banshee Media Player
Name[ast]=Reproductor multimedia Banshee
Name[be@latin]=Multymedyjny player Banshee
Name[br]=Lenner mediaoù Banshee
Name[ca]=Reproductor multimèdia Banshee
Name[ca@valencia]=Reproductor multimèdia Banshee
Name[cs]=Multimediální přehrávač Banshee
Name[da]=Banshee medieafspiller
Name[de]=Banshee Medien-Wiedergabeprogramm
Name[el]=Αναπαραγωγή πολυμέσων Banshee
Name[en_GB]=Banshee Media Player
Name[eo]=Banŝio plurmedia ludilo
Name[es]=Reproductor multimedia Banshee
Name[eu]=Banshee multimedia-erreproduzitzailea
Name[fi]=Banshee-musiikkisoitin
Name[fr]=Lecteur multimédia Banshee
Name[gl]=Reprodutor de música Banshee
Name[gu]=Banshee મીડિયા પ્લેયર
Name[he]=נגן המדיה Banshee
Name[hu]=Banshee médialejátszó
Name[it]=Riproduttore multimediale Banshee
Name[ja]=Bansheeメディアプレイヤー
Name[ko]=밴시 미디어 플레이어
Name[ky]=Banshee медиаойнотуучусу
Name[lt]=Medijos leistuvas „Banshee“
Name[lv]=Banshee mūzikas atskaņotājs
Name[nb]=Banshee musikkavspiller
Name[nl]=Banshee mediaspeler
Name[pa]=ਬਾਂਸ਼ੀ ਮੀਡਿਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimediów Banshee
Name[pt]=Reprodutor Multimédia Banshee
Name[pt_BR]=Reprodutor de mídia Banshee
Name[ro]=Player muzică Banshee
Name[ru]=Медиапроигрыватель Banshee
Name[sk]=Banshee - prehrávač multimédií
Name[sl]=Predvajalnik Banshee
Name[sr]=Злослутничка музичка кутија
Name[sr@latin]=Zloslutnička muzička kutija
Name[sv]=Mediaspelaren Banshee
Name[te]=బన్‌షీ మీడియా ప్లేయర్
Name[th]=โปรแกรมเล่นสื่อ Banshee
Name[tr]=Banshee Ortam Oynatıcısı
Name[uk]=Музичний програвач Banshee
Name[vi]=Trình phát đa phương tiện Banshee
Name[zh_CN]=Banshee 媒体播放器
Name[zh_HK]=Banshee 媒體播放程式
Name[zh_TW]=Banshee 媒體播放程式
GenericName=Media Player
GenericName[ast]=Reproductor multimedia
GenericName[br]=Lenner liesvedia
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor multimèdia
GenericName[cs]=Multimediální přehrávač
GenericName[da]=Medieafspiller
GenericName[de]=Medien-Wiedergabeprogramm
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[en_GB]=Media Player
GenericName[eo]=Plurmedia ludilo
GenericName[es]=Reproductor multimedia
GenericName[eu]=Multimedia-erreproduzitzailea
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[gl]=Reprodutor de música
GenericName[gu]=મીડિયા પ્લેયર
GenericName[he]=נגן מדיה
GenericName[hu]=Médialejátszó
GenericName[it]=Riproduttore multimediale
GenericName[ja]=メディアプレイヤー
GenericName[ko]=미디어 플레이어
GenericName[ky]=Медиаойнотуучу
GenericName[lt]=Medijos leistuvas
GenericName[lv]=Mediju atskaņotājs
GenericName[nb]=Musikkavspiller
GenericName[nl]=Muziekspeler
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimediów
GenericName[pt]=Reprodutor de Media
GenericName[pt_BR]=Reprodutor de mídia
GenericName[ro]=Media player
GenericName[ru]=Медиапроигрыватель
GenericName[sk]=Prehrávač multimédií
GenericName[sl]=Predvajalnik predstavnosti
GenericName[sr]=Музичка и филмска кутија
GenericName[sr@latin]=Muzička i filmska kutija
GenericName[sv]=Mediaspelare
GenericName[te]=మీడియా ప్లేయర్
GenericName[th]=โปรแกรมเล่นสื่อ
GenericName[tr]=Ortam Oynatıcı
GenericName[uk]=Музичний програвач
GenericName[vi]=Trình chơi phương tiện
GenericName[zh_CN]=媒体播放器
GenericName[zh_HK]=媒體播放程式
GenericName[zh_TW]=媒體播放程式
X-GNOME-FullName=Banshee Media Player
X-GNOME-FullName[ast]=Reproductor multimedia Banshee
X-GNOME-FullName[be@latin]=Multymedyjny player Banshee
X-GNOME-FullName[br]=Lenner mediaoù Banshee
X-GNOME-FullName[ca]=Reproductor multimèdia Banshee
X-GNOME-FullName[ca@valencia]=Reproductor multimèdia Banshee
X-GNOME-FullName[cs]=Multimediální přehrávač Banshee
X-GNOME-FullName[da]=Banshee medieafspiller
X-GNOME-FullName[de]=Banshee Medien-Wiedergabeprogramm
X-GNOME-FullName[el]=Αναπαραγωγή πολυμέσων Banshee
X-GNOME-FullName[en_GB]=Banshee Media Player
X-GNOME-FullName[eo]=Banŝio plurmedia ludilo
X-GNOME-FullName[es]=Reproductor multimedia Banshee
X-GNOME-FullName[eu]=Banshee multimedia-erreproduzitzailea
X-GNOME-FullName[fi]=Banshee-musiikkisoitin
X-GNOME-FullName[fr]=Lecteur multimédia Banshee
X-GNOME-FullName[gl]=Reprodutor de música Banshee
X-GNOME-FullName[gu]=Banshee મીડિયા પ્લેયર
X-GNOME-FullName[he]=נגן המדיה Banshee
X-GNOME-FullName[hu]=Banshee médialejátszó
X-GNOME-FullName[it]=Riproduttore multimediale Banshee
X-GNOME-FullName[ja]=Bansheeメディアプレイヤー
X-GNOME-FullName[ko]=밴시 미디어 플레이어
X-GNOME-FullName[ky]=Banshee медиаойнотуучусу
X-GNOME-FullName[lt]=Medijos leistuvas „Banshee“
X-GNOME-FullName[lv]=Banshee mūzikas atskaņotājs
X-GNOME-FullName[nb]=Banshee musikkavspiller
X-GNOME-FullName[nl]=Banshee mediaspeler
X-GNOME-FullName[pa]=ਬਾਂਸ਼ੀ ਮੀਡਿਆ ਪਲੇਅਰ
X-GNOME-FullName[pl]=Odtwarzacz multimediów Banshee
X-GNOME-FullName[pt]=Reprodutor Multimédia Banshee
X-GNOME-FullName[pt_BR]=Reprodutor de mídia Banshee
X-GNOME-FullName[ro]=Player muzică Banshee
X-GNOME-FullName[ru]=Медиапроигрыватель Banshee
X-GNOME-FullName[sk]=Banshee - prehrávač multimédií
X-GNOME-FullName[sl]=Predvajalnik Banshee
X-GNOME-FullName[sr]=Злослутничка музичка кутија
X-GNOME-FullName[sr@latin]=Zloslutnička muzička kutija
X-GNOME-FullName[sv]=Mediaspelaren Banshee
X-GNOME-FullName[te]=బన్‌షీ మీడియా ప్లేయర్
X-GNOME-FullName[th]=โปรแกรมเล่นสื่อ Banshee
X-GNOME-FullName[tr]=Banshee Ortam Oynatıcısı
X-GNOME-FullName[uk]=Музичний програвач Banshee
X-GNOME-FullName[vi]=Trình phát đa phương tiện Banshee
X-GNOME-FullName[zh_CN]=Banshee 媒体播放器
X-GNOME-FullName[zh_HK]=Banshee 媒體播放程式
X-GNOME-FullName[zh_TW]=Banshee 媒體播放程式
Comment=Play and organize your media collection
Comment[ast]=Reproduz y organiza la to coleición multimedia
Comment[ca]=Reproduïu i organitzeu la col·lecció multimèdia
Comment[ca@valencia]=Reproduïu i organitzeu la col·lecció multimèdia
Comment[cs]=Přehrávat a organizovat své multimediální kolekce
Comment[da]=Afspil og organiser din mediesamling
Comment[de]=Mediensammlung wiedergeben und organisieren
Comment[el]=Αναπαραγωγή και οργάνωση της συλλογής σας πολυμέσων
Comment[en_GB]=Play and organise your media collection
Comment[eo]=Ludi kaj organizi vian aŭdvidan kolekton
Comment[es]=Reproduzca y organice su colección multimedia
Comment[eu]=Erreproduzitu eta antolatu zure multimedia bilduma
Comment[fi]=Toista ja järjestele mediakirjastojasi
Comment[fr]=Lire et organiser votre bibliothèque multimédia
Comment[gl]=Reproduzca e organice a súa colección multimedia
Comment[he]=נגינה וארגון של אוסף המדיה שלך
Comment[hu]=Médiagyűjteményének lejátszása és rendszerezése
Comment[it]=Riproduce e organizza la collezione multimediale
Comment[ja]=メディアコレクションを再生したりまとめたりします
Comment[ko]=미디어 모음 재생 및 구성
Comment[lt]=Leisti ir tvarkyti mediją
Comment[lv]=Atskaņo un organizē mediju kolekciju
Comment[nb]=Spill av og organiser din mediesamling
Comment[nl]=Uw mediacollectie afpelen en beheren
Comment[pa]=ਚਲਾਓ ਤੇ ਆਪਣੇ ਮੀਡਿਆ ਭੰਡਾਰ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Odtwarzanie i organizowanie kolekcji multimediów
Comment[pt]=Reproduz e organiza a sua colecção de media
Comment[pt_BR]=Reproduza e organize a sua coleção de mídia
Comment[ro]=Redă și organizează colecția media
Comment[ru]=Слушайте музыку и управляйте своей коллекцией
Comment[sk]=Prehrávajte a organizujte svoju zbierku multimédií
Comment[sl]=Predvajajte in organizirajte svojo zbirko predstavnostnih datotek
Comment[sr]=Разгледајте и уређујте вашу музичку и видео збирку
Comment[sr@latin]=Razgledajte i uređujte vašu muzičku i video zbirku
Comment[sv]=Spela upp och organisera din mediasamling
Comment[te]=మీ మీడియా సేకరణను ప్లేచేయి మరియు నిర్వహించు
Comment[tr]=Ortam koleksiyonunuzu oynatın ve organize edin
Comment[uk]=Слухайте й упорядковуйте свою музичну збірку
Comment[vi]=Phát và quản lý bộ sưu tập đa phương tiện của bạn
Comment[zh_CN]=播放及管理您的媒体收藏
Comment[zh_HK]=播放並管理你的媒體收藏
Comment[zh_TW]=播放並管理您的媒體收藏
Icon=media-player-banshee
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Audio;Music;Player;AudioVideo;X-Ximian-Main;X-Novell-Main;X-Red-Hat-Base;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=banshee
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.2.0
