[Desktop Entry]
Encoding=UTF-8
Name=MultiSystem
GenericName=MultiSystem liveusb multiboot
Version=1.0
Terminal=false
Type=Application
StartupNotify=true
Icon=multisystem-liveusb
Comment=Easily create your liveusb multiboot
Comment[fr]=Créez facilement votre liveusb multiboot
Exec=/usr/bin/multisystem
Categories=GTK;GNOME;Application;Utility;
