[Desktop Entry]
Encoding=UTF-8
Name=MultiSystem test iso
GenericName=MultiSystem VirtualBox test iso
Version=1.0
Terminal=false
Type=Application
StartupNotify=true
Icon=multisystem-vbox
Comment=Isofile drop and test with VirtualBox
Comment[fr]=Déposer vos fichiers iso et tester dans VirtualBox
Exec=/usr/share/multisystem/VBox_livecd_gui.sh
Categories=GTK;GNOME;Application;Utility;
