<Configuration>
  <AddinStatus>
    <Addin id="Banshee.LastFm,1.0" enabled="False" />
    <Addin id="Banshee.LibraryWatcher,1.0" enabled="True" />
    <Addin id="Banshee.InternetArchive,1.0" enabled="False" />
    <Addin id="Banshee.BooScript,1.0" enabled="True" />
    <Addin id="Banshee.YouTube,1.0" enabled="True" />
    <Addin id="Banshee.MiniMode,1.0" enabled="True" />
    <Addin id="Banshee.Mpris,1.0" enabled="True" />
    <Addin id="Banshee.AmazonMp3,1.0" enabled="False" />
    <Addin id="Banshee.AmazonMp3.Store,1.0" enabled="False" />
    <Addin id="Banshee.LastfmStreaming,1.0" enabled="False" />
    <Addin id="Banshee.Lastfm,1.0" enabled="False" />
    <Addin id="Banshee.MiroGuide,1.0" enabled="False" />
  </AddinStatus>
</Configuration>