<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
	<item label="URxvt" icon="/usr/share/pixmaps/lxterminal.png">
  <action name="Execute"><command>
    <![CDATA[ urxvt]]>
  </command></action>
</item>
		<separator/>
		<item label="Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
  <action name="Execute"><command>
    <![CDATA[ firefox ]]>
  </command></action>
</item>
		<item label="Thunderbird" icon="/usr/share/icons/hicolor/16x16/apps/thunderbird.png">
  <action name="Execute"><command>
    <![CDATA[ thunderbird ]]>
  </command></action>
</item>
		<separator/>
	<menu id="openbox-Accessories"
      label="Accessories"
      icon="/usr/share/icons/gnome/16x16/categories/applications-accessories.png">
<item label="7-Zip FM" icon="/usr/share/icons/hicolor/32x32/apps/p7zip.png">
  <action name="Execute"><command>
    <![CDATA[ 7zFM]]>
  </command></action>
</item>
<item label="Disk Utility" icon="/usr/share/icons/hicolor/16x16/apps/palimpsest.png">
  <action name="Execute"><command>
    <![CDATA[ palimpsest]]>
  </command></action>
</item>
<item label="HP Device Manager" icon="/usr/share/hplip/data/images/128x128/hp_logo.png">
  <action name="Execute"><command>
    <![CDATA[ hp-toolbox]]>
  </command></action>
</item>
<item label="Leafpad" icon="/usr/share/icons/hicolor/16x16/apps/leafpad.png">
  <action name="Execute"><command>
    <![CDATA[ leafpad ]]>
  </command></action>
</item>
<item label="MultiSystem" icon="/home/nkn/.local/share/icons/hicolor/48x48/apps/multisystem-liveusb.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/multisystem]]>
  </command></action>
</item>
<item label="MultiSystem test iso" icon="/home/nkn/.local/share/icons/hicolor/48x48/apps/multisystem-vbox.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/share/multisystem/VBox_livecd_gui.sh]]>
  </command></action>
</item>
<item label="Redshift GUI" icon="/usr/share/icons/hicolor/16x16/apps/redshiftgui.png">
  <action name="Execute"><command>
    <![CDATA[ redshiftgui]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Games"
      label="Games"
      icon="/usr/share/icons/gnome/16x16/categories/applications-games.png">
<item label="Desura" icon="/home/nkn/desura/data/desura.png">
  <action name="Execute"><command>
    <![CDATA[ /home/nkn/desura/desura ]]>
  </command></action>
</item>
<item label="Desura (Force Update)" icon="/home/nkn/desura/data/desura.png">
  <action name="Execute"><command>
    <![CDATA[xterm -e /home/nkn/desura/desura -f]]>
  </command></action>
</item>
<item label="Dwarf Fortress" icon="/usr/share/pixmaps/dwarffortress.png">
  <action name="Execute"><command>
    <![CDATA[ dwarffortress]]>
  </command></action>
</item>
<item label="Game Conqueror" icon="/usr/share/pixmaps/GameConqueror_128x128.png">
  <action name="Execute"><command>
    <![CDATA[ gameconqueror]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Graphics"
      label="Graphics"
      icon="/usr/share/icons/gnome/16x16/categories/applications-graphics.png">
<item label="GNU Image Manipulation Program" icon="/usr/share/icons/hicolor/16x16/apps/gimp.png">
  <action name="Execute"><command>
    <![CDATA[ gimp-2.7 ]]>
  </command></action>
</item>
<item label="Inkscape" icon="/usr/share/icons/hicolor/16x16/apps/inkscape.png">
  <action name="Execute"><command>
    <![CDATA[ inkscape ]]>
  </command></action>
</item>
<item label="Mirage" icon="/usr/share/pixmaps/mirage.png">
  <action name="Execute"><command>
    <![CDATA[ mirage ]]>
  </command></action>
</item>
<item label="MuPDF" icon="/usr/share/pixmaps/mupdf.xpm">
  <action name="Execute"><command>
    <![CDATA[ mupdf ]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Internet"
      label="Internet"
      icon="/usr/share/icons/gnome/16x16/categories/applications-internet.png">
<item label="Avahi SSH Server Browser" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/bssh]]>
  </command></action>
</item>
<item label="Avahi VNC Server Browser" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/bvnc]]>
  </command></action>
</item>
<item label="Deluge" icon="/usr/share/icons/hicolor/16x16/apps/deluge.png">
  <action name="Execute"><command>
    <![CDATA[ deluge-gtk ]]>
  </command></action>
</item>
<item label="Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
  <action name="Execute"><command>
    <![CDATA[ firefox ]]>
  </command></action>
</item>
<item label="Mangler">
  <action name="Execute"><command>
    <![CDATA[ mangler]]>
  </command></action>
</item>
<item label="TeamViewer" icon="/opt/teamviewer/teamviewer/6/desktop/teamviewer.png">
  <action name="Execute"><command>
    <![CDATA[ /opt/teamviewer/teamviewer/6/bin/teamviewer]]>
  </command></action>
</item>
<item label="Thunderbird" icon="/usr/share/icons/hicolor/16x16/apps/thunderbird.png">
  <action name="Execute"><command>
    <![CDATA[ thunderbird ]]>
  </command></action>
</item>
<item label="XChat IRC" icon="/usr/share/pixmaps/xchat.png">
  <action name="Execute"><command>
    <![CDATA[ xchat]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Office"
      label="Office"
      icon="/usr/share/icons/gnome/16x16/categories/applications-office.png">
<item label="LibreOffice " icon="/usr/share/icons/gnome/16x16/apps/libreoffice-startcenter.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice ]]>
  </command></action>
</item>
<item label="LibreOffice Base" icon="/usr/share/icons/gnome/16x16/apps/libreoffice-base.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice --base ]]>
  </command></action>
</item>
<item label="LibreOffice Calc" icon="/usr/share/icons/gnome/16x16/apps/libreoffice-calc.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice --calc ]]>
  </command></action>
</item>
<item label="LibreOffice Draw" icon="/usr/share/icons/gnome/16x16/apps/libreoffice-draw.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice --draw ]]>
  </command></action>
</item>
<item label="LibreOffice Impress" icon="/usr/share/icons/gnome/16x16/apps/libreoffice-impress.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice --impress ]]>
  </command></action>
</item>
<item label="LibreOffice Math" icon="/usr/share/icons/gnome/16x16/apps/libreoffice-math.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice --math ]]>
  </command></action>
</item>
<item label="LibreOffice Writer" icon="/usr/share/icons/gnome/16x16/apps/libreoffice-writer.png">
  <action name="Execute"><command>
    <![CDATA[ libreoffice --writer ]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Other"
      label="Other"
      icon="/usr/share/icons/gnome/16x16/categories/applications-other.png">
<item label="Adobe Flash Player" icon="/usr/share/icons/hicolor/16x16/apps/flash-player-properties.png">
  <action name="Execute"><command>
    <![CDATA[ flash-player-properties]]>
  </command></action>
</item>
<item label="Customize Look and Feel" icon="/usr/share/icons/gnome/16x16/apps/preferences-desktop-theme.png">
  <action name="Execute"><command>
    <![CDATA[ lxappearance]]>
  </command></action>
</item>
<item label="File Manager" icon="/usr/share/icons/gnome/16x16/apps/file-manager.png">
  <action name="Execute"><command>
    <![CDATA[ thunar-settings]]>
  </command></action>
</item>
<item label="Openbox Configuration Manager" icon="/usr/share/pixmaps/obconf.png">
  <action name="Execute"><command>
    <![CDATA[ obconf ]]>
  </command></action>
</item>
<item label="dosbox Emulator" icon="/usr/share/pixmaps/dosbox.png">
  <action name="Execute"><command>
    <![CDATA[ dosbox]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Development"
      label="Programming"
      icon="/usr/share/icons/gnome/16x16/categories/applications-development.png">
<item label="CMake" icon="/usr/share/pixmaps/CMakeSetup32.png">
  <action name="Execute"><command>
    <![CDATA[ cmake-gui ]]>
  </command></action>
</item>
<item label="OpenJDK Monitoring &amp; Management Console" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/jconsole]]>
  </command></action>
</item>
<item label="OpenJDK Policy Tool" icon="/usr/share/icons/hicolor/16x16/apps/java.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/policytool]]>
  </command></action>
</item>
<item label="QGit" icon="/usr/share/pixmaps/qgit.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/qgit]]>
  </command></action>
</item>
<item label="Qt Assistant" icon="/usr/share/icons/hicolor/32x32/apps/assistant.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/assistant]]>
  </command></action>
</item>
<item label="Qt Designer" icon="/usr/share/icons/hicolor/128x128/apps/designer.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/designer]]>
  </command></action>
</item>
<item label="Qt Linguist" icon="/usr/share/icons/hicolor/16x16/apps/linguist.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/linguist]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Multimedia"
      label="Sound &amp; Video"
      icon="/usr/share/icons/gnome/16x16/categories/applications-multimedia.png">
<item label="Banshee Media Player" icon="/usr/local/share/icons/hicolor/16x16/apps/media-player-banshee.png">
  <action name="Execute"><command>
    <![CDATA[ banshee --redirect-log --play-enqueued ]]>
  </command></action>
</item>
<item label="GNOME MPlayer" icon="/usr/share/icons/hicolor/16x16/apps/gnome-mplayer.png">
  <action name="Execute"><command>
    <![CDATA[ gnome-mplayer ]]>
  </command></action>
</item>
<item label="Movie Player" icon="/usr/share/icons/hicolor/16x16/apps/totem.png">
  <action name="Execute"><command>
    <![CDATA[ totem ]]>
  </command></action>
</item>
<item label="QT V4L2 test Utility" icon="/usr/share/icons/hicolor/16x16/apps/qv4l2.png">
  <action name="Execute"><command>
    <![CDATA[ qv4l2]]>
  </command></action>
</item>
<item label="Rhythmbox" icon="/usr/share/icons/hicolor/16x16/apps/rhythmbox.png">
  <action name="Execute"><command>
    <![CDATA[ rhythmbox ]]>
  </command></action>
</item>
<item label="VLC media player" icon="/usr/share/icons/hicolor/16x16/apps/vlc.png">
  <action name="Execute"><command>
    <![CDATA[ vlc ]]>
  </command></action>
</item>
</menu>
<menu id="openbox-System"
      label="System Tools"
      icon="/usr/share/icons/gnome/16x16/categories/applications-system.png">
<item label="Avahi Zeroconf Browser" icon="/usr/share/icons/gnome/16x16/devices/network-wired.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/avahi-discover]]>
  </command></action>
</item>
<item label="Bulk Rename" icon="/usr/share/icons/hicolor/16x16/apps/Thunar.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/lib/Thunar/ThunarBulkRename ]]>
  </command></action>
</item>
<item label="Htop" icon="/usr/share/pixmaps/htop.png">
  <action name="Execute"><command>
    <![CDATA[xterm -e htop]]>
  </command></action>
</item>
<item label="Manage Printing" icon="/usr/share/icons/hicolor/16x16/apps/cups.png">
  <action name="Execute"><command>
    <![CDATA[ /usr/bin/xdg-open http://localhost:631/]]>
  </command></action>
</item>
<item label="Oracle VM VirtualBox" icon="/usr/share/icons/hicolor/16x16/mimetypes/virtualbox.png">
  <action name="Execute"><command>
    <![CDATA[ VirtualBox ]]>
  </command></action>
</item>
<item label="Thunar File Manager" icon="/usr/share/icons/hicolor/16x16/apps/Thunar.png">
  <action name="Execute"><command>
    <![CDATA[ Thunar ]]>
  </command></action>
</item>
<item label="dconf Editor">
  <action name="Execute"><command>
    <![CDATA[ dconf-editor]]>
  </command></action>
</item>
<item label="rxvt-unicode" icon="/usr/share/icons/gnome/16x16/apps/terminal.png">
  <action name="Execute"><command>
    <![CDATA[ urxvt]]>
  </command></action>
</item>
</menu>
<menu id="openbox-Universal Access"
      label="Universal Access"
      icon="/usr/share/icons/gnome/16x16/apps/preferences-desktop-accessibility.png">
<item label="Caribou">
  <action name="Execute"><command>
    <![CDATA[ caribou]]>
  </command></action>
</item>
</menu>
<separator/>
<menu id="settings" label="Preferences" icon="/usr/share/icons/gnome/16x16/categories/applications-system.png">
			<item label="Edit autostart">
				<action name="Execute">
					<execute>
						leafpad ~/.config/openbox/autostart
					</execute>
				</action>
			</item>
			<item label="GUI Config Tool">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>	
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">			
				<action name="Restart"/>
			</item>
		</menu>
</menu>
</openbox_menu>
